* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header > div > div {
  width: 100px;
  font-size: 12px;
  margin-left: 10px;
}
header > div > div:hover {
  cursor: pointer;
}

header > div {
  margin-bottom: 5px;
  padding: 5px 0px;
  border-bottom: 1px gray solid;
}

#h:hover {
  cursor: pointer;
}
#h {
  margin-left: 10px;
}

main {
  margin: auto;
  width: 50%;
  text-align: center;
  margin-top: 10%;
}
